{% extends 'base.html' %}

{% block content %}

    <div class="row mt-4">
        <div class="col-2">
            <a href="/">All</a>
        </div>
        <div class="col-2">
            <a href="?status=1">Completed</a>
        </div>
        <div class="col-2">
            <a href="?status=0">Pending</a>
        </div>
        <div class="col-2">
            <a href="?priority=high">High Priority</a>
        </div>
        <div class="col-2">
            <a href="?priority=normal">Normal Priority</a>
        </div>
        <div class="col-2">
            <a href="?priority=low">Low Priority</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-10 mx-auto">
            <ul class="list-group">
                {% for todo_item in todo_items %}
                    <li class="list-group-item">{{todo_item.text}}

                        <div class="float-end">
<!--                        <form action="delete_todo/{{todo_item.id}}" method="post">-->
                            {% if todo_item.status == '0' %}
                                <button type="submit" class="btn btn-sm btn-warning " data-bs-toggle="modal" data-bs-target="#updateTodoModal" data-bs-whatever="{{todo_item.id}}"><i class="far fa-edit"></i></button>
                            {% else %}
                                <button type="submit" class="btn btn-sm btn-success " data-bs-toggle="modal" data-bs-target="#viewTodoModal" data-bs-whatever="{{todo_item.id}}"><i class="fas fa-eye"></i></button>
                            {% endif %}
                            <form action="{% url 'delete_todo' todo_item.id %}" method="post" style="display:inline-block;">
                                {% csrf_token %}

                                <button type="submit" class="btn btn-sm btn-danger "><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg circle-btn" data-bs-toggle="modal" data-bs-target="#addTodoModal" data-bs-whatever="addTodo"><i class="fas fa-plus"></i></button>

    <div class="modal fade" id="addTodoModal" tabindex="-1" aria-labelledby="addTodoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTodoModalLabel">Add Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="add_todo" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" name="content" class="form-control" placeholder="Type here....">
                        </div>
                        <div class="mb-3">
                            <select  name="priority" class="form-select">
                                <option value="none" selected disabled hidden>Select a priority</option>
                                <option value="high">High</option>
                                <option value="normal">Normal</option>
                                <option value="low">Low</option>
                            </select>
                        </div>
                        <div class="float-end">
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </div>
                    </form>
                </div>
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Send message</button>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewTodoModal" tabindex="-1" aria-labelledby="viewTodoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewTodoModalLabel">Item Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <p id="item-content">Title:</p>
                    </div>
                    <div class="mb-3">
                            <p id="item-priority">Priority:</p>
                        </div>
                    <div class="mb-3">
                            <p id="item-status">Status:</p>
                        </div>
                    <div class="mb-3">
                            <p id="item-added-date">Added date:</p>
                        </div>

                    <div class="float-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Send message</button>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateTodoModal" tabindex="-1" aria-labelledby="updateTodoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateTodoModalLabel">Update Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" >
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" id="content"  name="content" class="form-control" placeholder="Type here....">
                        </div>
                        <div class="mb-3">
                            <select id="priority"  name="priority" class="form-select">
                                <option value="high">High</option>
                                <option value="normal">Normal</option>
                                <option value="low">Low</option>
                            </select>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name ="status"  id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Complete</label>
                        </div>
                        <div class="float-end">
                            <button type="submit" class="btn btn-primary mb-2">Update</button>
                        </div>
                    </form>
                </div>
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Send message</button>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <script>

        let exampleModal = document.getElementById('updateTodoModal');
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            let button = event.relatedTarget

            // Extract info from data-bs-* attributes
            let item_id = button.getAttribute('data-bs-whatever')

            //set the action attribute of update form
            exampleModal.querySelector('form').action='update_todo/'+item_id;
            let url = 'update_todo/'+item_id;
            fetch(url)
            .then(res => res.json())
            .then(data =>{
                console.log(data);
                    // Update the modal's content.
                    let modalBodyInput = exampleModal.querySelector('#content');
                    modalBodyInput.value = data['text'];
                    let modalBodySelect = exampleModal.querySelector('#priority');
                    let selectTagChildren = modalBodySelect.children;
                    for (let child of selectTagChildren){
                        if (child.value === data['priority']){
                            child.setAttribute('selected','selected');
                        }
                    }
                    if(data['status'] === "1"){
                        document.getElementById('flexSwitchCheckDefault').checked = true;
                    }
                    //console.log('inside updatetodomodel listener');
            })
            .catch(err => console.log(err))

<!--            $.ajax({-->
<!--                method: 'GET',-->
<!--                dataType: 'json',-->
<!--                url: 'update_todo/'+item_id,-->
<!--                success: function(data){-->
<!--                    console.log(data);-->
<!--                    // Update the modal's content.-->
<!--                    let modalBodyInput = exampleModal.querySelector('#content');-->
<!--                    modalBodyInput.value = data['text'];-->
<!--                    let modalBodySelect = exampleModal.querySelector('#priority');-->
<!--                    let selectTagChildren = modalBodySelect.children;-->
<!--                    for (let child of selectTagChildren){-->
<!--                        if (child.value === data['priority']){-->
<!--                            child.setAttribute('selected','selected');-->
<!--                        }-->
<!--                    }-->
<!--                    if(data['status'] === "1"){-->
<!--                        document.getElementById('flexSwitchCheckDefault').checked = true;-->
<!--                    }-->
<!--                    //console.log('inside updatetodomodel listener');-->
<!--                },-->
<!--            });-->
        });
        let todoViewModal = document.getElementById('viewTodoModal');
        todoViewModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            let button = event.relatedTarget

            // Extract info from data-bs-* attributes
            let item_id = button.getAttribute('data-bs-whatever')

            let url= 'update_todo/'+item_id
            fetch(url)
            .then(res => res.json())
            .then(data =>{
                console.log(data);
                // Update the modal's content.
                viewTodoModal.querySelector('#item-content').innerText = 'Title: ' + data['text'];
                viewTodoModal.querySelector('#item-priority').innerText = 'Priority: ' + data['priority'];
                viewTodoModal.querySelector('#item-added-date').innerText = 'Added Date: ' + data['added-date'];
                viewTodoModal.querySelector('#item-status').innerText = 'Status: ' + 'completed';
            })
            .catch(err => console.log(err))
<!--            $.ajax({-->
<!--                method: 'GET',-->
<!--                dataType: 'json',-->
<!--                url: 'update_todo/'+item_id,-->
<!--                success: function(data){-->
<!--                    console.log(data);-->
<!--                    // Update the modal's content.-->
<!--                    viewTodoModal.querySelector('#item-content').innerText = 'Title: ' + data['text'];-->
<!--                    viewTodoModal.querySelector('#item-priority').innerText = 'Priority: ' + data['priority'];-->
<!--                    viewTodoModal.querySelector('#item-added-date').innerText = 'Added Date: ' + data['added-date'];-->
<!--                    viewTodoModal.querySelector('#item-status').innerText = 'Status: ' + 'completed';-->
<!--                },-->
<!--            });-->
        });
    </script>

{% endblock %}