{% extends 'base.html' %}

{% block content%}
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Enter new password</legend>
                    <small>Please enter your new password twice so we can verify you typed it in correctly.</small>
                    <div class="mb-3">
                        {{form}}
                    </div>
                </fieldset>
                <button class="btn btn-outline-info mt-4" type="submit">Reset Password</button>
            </form>
        </div>
    </div>

    <script>
        labels = document.querySelectorAll('label');
        for(label of labels){
            label.setAttribute('class', 'form-label');
          }
        document.getElementById('id_new_password1').setAttribute('class', 'form-control');
        document.getElementById('id_new_password2').setAttribute('class', 'form-control');
    </script>
{% endblock %}