{% extends 'base.html' %}

{% block content%}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    <div class="alert alert-info mb-4">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</div>
                    <div class="mb-3">
<!--                        <label for="formGroupExampleInput" class="form-label">Example label</label>-->
<!--                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">-->
<!--                            {{form.email.label_tag}}-->
<!--                            {{form.email}}-->
                        {{form}}
                    </div>
                </fieldset>
                <button class="btn btn-outline-info mt-4" type="submit">Request Password Reset</button>
            </form>
        </div>
    </div>

    <script>
        document.querySelector('label').setAttribute('class', 'form-label')
        document.getElementById('id_email').setAttribute('class', 'form-control')
    </script>
{% endblock %}